<select name="host" required class="p-3 rounded bg-gray-800">

<option value="">Select Host</option>

<% agencyMembers.forEach(member => { %>

<option value="<%= member.id %>">
<%= member.name %>
</option>

<% }) %>

</select>


<select name="opponent" required class="p-3 rounded bg-gray-800">

<option value="">Select Opponent</option>

<% agencyMembers.forEach(member => { %>

<option value="<%= member.id %>">
<%= member.name %>
</option>

<% }) %>

</select>